body {
  margin: 0;
  font-family: "Euclid Circular A";
  color: #f7f7f7;
  background: #090d0d;
  --animate-duration: 400ms;
  --animate-delay: 300ms;
}

* {
  box-sizing: border-box;
}

.preloader {
  position: fixed;
  inset: 0;
  background: #090d0d;
  z-index: 5;
  display: grid;
  place-items: center;
  animation: load 1.25s both;
}

@keyframes load {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  width: 90px;
  scale: 1.5;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f7f7f7 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #f7f7f7);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0 30px;
  background: rgb(0 0 0 / 2%);
  backdrop-filter: blur(10px);
  font-size: 18px;
}

nav .logo {
  height: 34px;
}

.search {
  position: relative;
  flex: 1 1 auto;
}

.search input {
  width: 100%;
  font-family: inherit;
  background: transparent;
  padding: 0 48px;
  height: 50px;
  font-size: inherit;
  border-radius: 50px;
  border: 1px solid rgb(255 255 255 / 96%);
}

.search .fas {
  position: absolute;
  left: 16px;
  top: 50%;
  translate: 0 -50%;
  color: rgb(255 255 255 / 96%);
  font-size: 20px;
}

.search input::placeholder {
  color: rgb(255 255 255 / 45%);
}

.menu {
  display: flex;
  gap: 30px;
}

.button {
  font-family: inherit;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #f7f7f7;
  padding: 0 26px;
  background: transparent;
  color: #f7f7f7;
  font-size: 18px;
}

.button.primary {
  color: #090d0d;
  background: #f7f7f7;
}

.video-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.video-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(0 0 0 / 100%), rgb(0 0 0 / 0%) 150%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 180px 15%;
  translate: -20px;
}

.content h1 {
  font-size: 70px;
  font-weight: 200;
  margin: 0;
  color: rgb(255 255 255 / 85%);
}

.content p {
  color: rgb(255 255 255 / 25%);
  font-size: 26px;
}

.content .buttons {
  display: grid;
  grid-template-columns: 160px 160px;
  gap: 10px;
  justify-content: center;
  padding-top: 16px;
}
